<ion-tabs>
  <ion-fab *ngIf="tabSeleccionada != 'tab2'" vertical="bottom" horizontal="center" translucent="false">
    <ion-fab-button color="light">
      <ion-icon color="dark" name="flashlight-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="tabSeleccionada = 'tab1'" [class.selected]="tabSeleccionada === 'tab1'" tab="tab1">
      <ion-icon name="text-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button (click)="tabSeleccionada = 'tab2'" [class.selected]="tabSeleccionada === 'tab2'" tab="tab2">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
