<ion-header  mode="ios">
  <ion-toolbar >
    <ion-title>
      MORSE S.O.S.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-header collapse="condense">
    <ion-toolbar >
      <ion-title size="large">MORSE S.O.S.</ion-title>
    </ion-toolbar>
  </ion-header>
  

  <ion-card>
    <ion-card-header>
      <ion-card-title>Palabras Predeterminadas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-button color="danger" expand="block" shape="round" (click)="showDefaultPhrase('S.O.S.')">S.O.S.</ion-button>
          </ion-col>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-button color="danger" expand="block" shape="round" (click)="showDefaultPhrase('Ayuda')">Ayuda</ion-button>
          </ion-col>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-button color="tertiary" expand="block" shape="round" (click)="showDefaultPhrase('Estoy Bien')">Estoy Bien</ion-button>
          </ion-col>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-button color="tertiary" expand="block" shape="round" (click)="showDefaultPhrase('Estoy herido')">Estoy herido</ion-button>
          </ion-col>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-button color="primary" expand="block" shape="round" (click)="showDefaultPhrase('Espera')">Espera</ion-button>
          </ion-col>
          <ion-col size="6" size-md="4" size-lg="2">
            <ion-button color="primary" expand="block" shape="round" (click)="showDefaultPhrase('Te veo')">Te veo</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  


  <ion-card>
    <ion-card-header>
      <ion-card-title>Texto a Código Morse </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item color="transulcent">
        <ion-label position="stacked">Ingresar texto</ion-label>
        <ion-input autoGrow="true" placeholder="Ingresa tu mensaje" [(ngModel)]="text" (ngModelChange)="textChange($event)"></ion-input>
      </ion-item>
      <ion-item lines="none" color="transulcent">
        <ion-textarea autoGrow="true" [(ngModel)]="morse" placeholder="Aquí se muestra tu mensaje" readonly></ion-textarea>
      </ion-item>
      
      <!--<ion-button expand="block">Traducir</ion-button>-->

      <ion-label>Cada letra está separada por un espacio. Para indicar una separacion de palabras se utiliza " | ". En caso de ingresar un caracter no permitido se muestra "?" </ion-label>
    </ion-card-content>
  </ion-card>
  
</ion-content>
