<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MORSE S.O.S.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      
      <ion-card-title>EN CONSTRUCCION...</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <img src="https://cdn.shopify.com/s/files/1/0387/2725/4060/articles/telljamba-1.jpeg?v=1590661382">
      <ion-label>NOTAS:-CAMBIO DE MODO(OSCURO/CLARO)-CAMBIO DE LENGUAJE-CAMBIO DE TIEMPO DE ESPERA EN LINTERNA PARA "-/." </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      
      <ion-card-title>Alfabeto Utilizado</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      <img style="background-color:white;" src="https://miro.medium.com/max/443/1*2WrXJ9lDlC8Q0HCO7H3DBQ.png">
    </ion-card-content>
  </ion-card>
  
</ion-content>
